<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="DATATECHEntities" connectionString="metadata=res://*/Repositorio.edmDATA.csdl|res://*/Repositorio.edmDATA.ssdl|res://*/Repositorio.edmDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BESS-SVR-SQL;initial catalog=DATATECH;persist security info=True;user id=data;password=Cl1n1ca;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <!--Datos de configuracion-->
    <add key="Estudios" value="C:\LISTADOS\NOTIFICACIONES\ESTUDIOS\" />
    <add key="Imagenes" value="J:\" />
    <add key="Envios" value="C:\LISTADOS\NOTIFICACIONES\ENVIOS\" />
    <add key="Template" value="C:\LISTADOS\NOTIFICACIONES\TEMPLATE\Recordatorio.html" />
    <add key="Logo" value="C:\LISTADOS\NOTIFICACIONES\LOGO\logo.png" />
    
    <!--Datos para el envio de mail-->
    <add key="Prueba" value="true" />
    <add key="PFrom" value="greynozo@bessone.com.ar" /><!--Mail de prueba-->
    <add key="From" value="estudios@bessone.com.ar" />
    <add key="To" value="" />
    <add key="Reply" value="no-responder@bessone.com.ar" />
    <add key="User" value="estudios@bessone.com.ar" />
    <add key="Pass" value="eti*B3ss0n320" />
    <add key="Mensaje" value="" />
    <add key="Subject" value="Envio de informes - Clinica Bessone" />
    <add key="CC" value="" />
    <add key="BCC" value="estudios@bessone.com.ar" />
    <add key="Dominio" value="mail.bessone.com.ar" />
    <add key="Puerto" value="25" />
    <add key="TimeOut" value="30000" />
    <add key="EnableSSL" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>